# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Virtual environment
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python test / coverage
.coverage
htmlcov/

# Data or model artifacts (uncomment if you want dataset/model ignored)
# WA_Fn-UseC_-HR-Employee-Attrition.csv
model.pkl
scaler.pkl
encoders.pkl
columns.pkl

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
